// variables
$theme-text-color: black;
$theme-color-light: #FAE1DE;
$theme-bg-color: darken(white, 1%);

body {
    background: $theme-bg-color;
}
// styles
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana;
}

// lighten heading font colors
@for $i from 1 through 6 {
    h#{$i} {
      color: #{lighten($theme-text-color, 10% * $i)};
    }
}

body {
    font-family: Georgia;
    margin: 40px 0px;
    letter-spacing: 0.5px;
}

p {
    line-height: 25px;
}

mark {
    background: $theme-color-light;
    padding: 2px;
}

a {
    color: #{darken($theme-color-light, 50%)}
}

a:hover {
    color: #{darken($theme-color-light, 30%)}
}

a:visited {
    color: #{darken($theme-color-light, 65%)}
}

code {
    font-weight: 560;
}
pre code {
    position: relative;
    left: 10%;
}
pre {
    background-color: #{lighten($theme-color-light, 5%)};
}