// TODO: create this and import in other scss files for allowing different colors
// theme-colors

// bg-colors (navbars/footers)

.white {
    background-color: white;
    color: lighten(black, 10%);
}

.orange {
    background-color: #fAA275;
    color: darken(#fAA275, 60%);
}
// text-colors 