// use flexbox

// top sticky navbar
    // left logo, right logo, center logo
    // left nav list items, right items, center items
    // responsive? hamburger icon/dropdown?
    // hover effects

// bg transparent, bg none, bg light, bg dark
// left sticky navbar
    // top logo, bottom logo
    // nav list styles

// page styles
body {
    margin: 4em;
}

.content-box {
    margin: 100px;
}

// navbar styles
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fAA275;
    align-items: baseline;
    border-radius: 10px;
}

.centeralign.centeralign {
    justify-content: center;
}

.navbar > h1 {
    margin: 0;
}

.navbar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px 20px;
}

.navbar a {
    display: block;
    padding: 1em;
    text-decoration: none;
    font-weight: 600;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .title {
    color: darken(#fAA275, 60%);
}

.centeralign.centeralign .title.title {
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
}

.bottomcurve.bottomcurve {
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 800%;
    border-bottom-right-radius: 800%;
    align-items: flex-start;
  }

  .topcurve.topcurve {
    height: 100px;
    width: 100%;
    border-top-left-radius: 800%;
    border-top-right-radius: 800%;
    align-items: flex-end;
  }