// THEME: dark text on light background
// variables
$theme-text-color: white;
$theme-color-light: darken(#FAE1DE, 80%);
$theme-bg-color: lighten(black, 10%);
$text-font-family: Georgia;
$heading-font-family: Verdana;

// styles
// main
body {
    font-family: $text-font-family;
    margin: 40px 0px;
    letter-spacing: 0.5px;
    background: $theme-bg-color;
    color: #{darken($theme-text-color, 10% )};
}
// headings
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}

// lighten heading font colors
@for $i from 1 through 6 {
    h#{$i} {
      color: #{darken($theme-text-color, 10% * $i)};
    }
}

// body text
p {
    line-height: 25px;
}

// links
a {
    color: #{lighten($theme-color-light, 50%)}
}

a:hover, a:active {
    color: #{lighten($theme-color-light, 30%)}
}

a:visited:hover, a:visited:active {
    color: #{lighten($theme-color-light, 50%)}
}


a:visited {
    color: #{lighten($theme-color-light, 65%)}
}

// code blocks
code {
    font-weight: 560;
}
pre code {
    position: relative;
    left: 10%;
}
pre {
    background-color: #{darken($theme-color-light, 5%)};
}

// inline elements: strong, em, abbr, del, s, mark, 
strong {
    color:$theme-text-color;
    text-shadow: 0.8px 0 #{$theme-text-color};
    letter-spacing:1px;
}

em {
    font-family: $text-font-family cursive;
}

abbr {
    font-weight: lighter;
    letter-spacing: 0.8px;
}

del {
    font-style: italic;
    font-family: $text-font-family cursive;
}

mark {
    background: $theme-color-light;
    padding: 2px;
    color: #{darken($theme-text-color, 10% )};
}

blockquote {
    text-align: center;
    font-style: italic;
    margin: 30px;
}

hr {
    border: none;
    border-top: 5px dotted darken($theme-text-color, 30% );
    margin: 0px 50%;
    width: 25px;
}

.lead {
    font-weight: 600;
}

.lead::first-letter {
    font-size: 3.5em;
    float: left;
    margin-top: 0.20em;
    margin-right: 0.15em;
}

// muted text
.text-muted {
    color: lighten($theme-text-color, 60% )
}

// center text
.text-center {
    text-align: center;
}